* {
    box-sizing: border-box;
}

.container {
    position: relative; 
    display: inline-block;
}

.hp-interface {
    position: absolute; 
    display: flex; 
    width: 100%; 
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

.player-hp,
.enemy-hp {
    background-color: yellow; 
    height: 30px; 
    width: 100%;
}

#enemy-bar {
    position: absolute; 
    background-color: blue; 
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0;
}

.timer {
    background-color: red; 
    width: 100px; 
    height: 100px; 
    flex-shrink: 0;
}