* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

.container {
  position: relative;
  display: inline-block;
}

.hp-interface {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.player,
.enemy {
  position: relative;
  /* height: 30px; */
  width: 100%;
  border: 4px solid white;
}

.player {
  display: flex;
  justify-content: flex-end;
  border-right: 0px;
}

.enemy {
  border-left: 0px;
}

.player-hp,
.enemy-hp {
  background-color: red;
  height: 30px;
  width: 100%;
}

#player-bar,
#enemy-bar {
  position: absolute;
  background-color: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
}

#enemy-bar {
  left: 0;
}

#player-bar {
  width: 100%;
}

.timer {
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
}

#display-text {
  position: absolute;
  color: white;
  /* display: flex;  */
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
